<!-- head of the page-->
<%- include('includes/head', { pageTitle: 'An Unauthorize Access' }) %> 
</head>
<body>
    <%- include('includes/header') %>
    <main>
        <h1>Not Authorize to this Page!</h1>
        <p>Unfortunately, You're not authorize to this page!!</p>
        <p><a class="btn" href="/">Back to Home</a></p>
    </main>
<%- include('includes/footer') %>
