<!-- Rahul -->
<%- include('../../shared/includes/head', { pageTitle: 'Orders Success' }) %> 
<link rel="stylesheet" href="/styles/orders.css"> 
</head>
<body>
    <%- include('../../shared/includes/header') %>
    <main>
        <h1>Your Orders Successfully Completed</h1>
        <p>You can visit <a href="/orders">the Orders Page</a> for more details </p>
    </main>
<%- include('../../shared/includes/footer') %>


