h1 {
    text-align: center;
    color: var(--color-grey-500);
}

form {
    max-width: 25rem;
    margin: var(--space-8) auto;
    padding: var(--space-4);
    background-color: var(--color-grey-50);
    border-radius: var(--border-radius-medium);
    text-align: center;
}

form a {
    color: var(--color-primary-blue-700);

}

form a:hover, form a:active {
    color: var(--color-primary-blue-500);
}