/* general forms styles */

form hr {
    border-color: var(--color-primary-blue-400);
    margin: var(--space-4);
}

label {
    color: var(--color-blue-50);
    display: block;
    margin-bottom: var(--space-2);
}

input, textarea {
    font: inherit;
    padding: var(--space-2);
    border-radius: var(--border-radius-small);
    border:none;
    width:90%;
}

input:hover , textarea:hover {
    border-color: rgb(122, 211, 211);
}

#image-upload-control {
    display: flex;
    align-items: center;
}

#image-upload-control input {
    max-width: 15rem;
}

#image-upload-control img {
    display: none;
    width: 5rem;
    height: 5rem;
    object-fit: cover;
    border-radius: var(--border-radius-small);
}